* {
	margin: 0;
}


body {
	background-color: #FFFEFC;
	color: #151515;
	font-family: 'Cormorant', serif;
	font-weight: 500;
	font-size: 24pt;
	line-height: 1.4em;
	margin: 3em auto;
	max-width: 800px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.0em;
	line-height: 1.25em;
	margin-bottom: 0.25em;
	text-align: center;
}

.caption {
	font-style: italic;
	margin-top: 0;
	text-align: center;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.4em;
	line-height: 1.5em;
	margin-top: 2em;
	text-align: center;
}

a {
	color: #151515;
	text-decoration: none;
	border-bottom: 1px solid rgba(21,21,21,0.3);
}

a:hover {
	opacity: 0.6;
}

p {
	margin-top: 1em;
}

.header, .cards {
}

.main-picture {
	text-align: center;
}

.link-index {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.img-wrapper {
	clear: left;
	text-align: center;
	margin-top: 2em;
}

.divider {
	width: 10%;
	margin: 2em auto;
}

.avatar {
	border-radius: 50%;
	width: 80px;
}

.cover {
	width: 100%;
}

ul.menu {
	list-style: none;
	margin-top: 2em;
	padding: 0;
	text-align: center;
}

ul.menu li {
	margin-bottom: 0.5em;
}

img {
	width: 100%;
}

@media (max-width: 1024px) {
	
	body {
		padding: 0 1em;
		font-size: 18pt;
	}

	.header, .cards {
		margin: 1.5em auto;
	}

	h1 {
		font-size: 1.6em;
	}

	h2 {
		font-size: 1em;
	}

	p {
		margin-top: 0.5em;
	}

	.divider {
		width: 15%;
	}

}
